<section>
    <div class="container">
     <div class="row">
      <div class="col-md-6">
               <h2 class="text-center">Add Product</h2>
                <form action="/admin/add-product" method="post" enctype="multipart/form-data" >

                    <label for=""></label>
                     <input type="text" name="name" class="form-control"placeholder="Name"> 

                     <label for=""></label>
                     <input type="text" name="cagtagory" class="form-control"placeholder="Catagory"> 
                      

                     <label for=""></label>
                     <input type="text" name="price" class="form-control"placeholder="Price"> 



                     <label for=""></label>
                     <input type="text" name="Description" class="form-control"placeholder="Description"> <br>


                       <label for="">Image</label>
                     <input type="file" name="image" class="form-control" style="width:45% ;"> <br>
                  
                      <button type="submit"class="btn btn-success">Submit</button>

                 </form>

          </div>

       </div>
    </div>
 












 

</div>










</section>
